<!-- file: project/templates/project/login.html -->
<!-- Author: Jerry Teixeira (jerrybt@bu.edu), 04/27/2024 -->
<!-- Description: Template for the login page -->
{% extends "project/base.html" %}

{% block content %}
<section class="panel">
  <div class="panel-header">
    <h3>Login</h3>
  </div>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{% url 'project_dashboard' %}">
    <button type="submit" class="button-link">Login</button>
  </form>
</section>
{% endblock %}
