<!--files: about.html-->
<!--Author: Jerry Teixeira (jerrybt@bu.edu), 01/29/2026-->
<!--Description: About page for the quotes app.-->
{% extends "quotes/base.html" %}

{% block content %}
  <p>Christiano Ronaldo is a Portuguese professional footballer who plays as a forward for Al Nassr and the Portugal national team. This website showcases some of his most inspiring quotes.</p>
  <p>Known for his incredible work ethic, dedication, and passion for the sport, Ronaldo has become one of the greatest footballers of all time. His quotes reflect his mindset and approach to life, both on and off the field.</p>
  <p>Whether you're a fan of football or simply looking for motivation, we hope you find inspiration in the words of Christiano Ronaldo.</p>  

{% endblock %}
