<!-- File: mini_insta/templates/mini_insta/base.html -->
<!-- Author: Jerry Teixeira jerrybt@bu.edu, 02/12/2026 -->
<!-- Discription: Base template for the mini_insta app -->

{% load static %}
<html>
  <head>
    <title>Mini Insta</title>
    <link rel="stylesheet" href="{% static 'instapv.css' %}">
  </head>
  <body>
    <header>
      <h1><span class="logo-word">Mini Insta</span></h1>
      
      <!-- The navigation link for going to home screen and creating a post if in the profile page-->
      <!-- The other navigation such as feed/profile/search are on the footer
       I didn't replace this Home with the feed so I could navigate to the show_all_profile page.-->
      <nav>
        <ul>
          <li><a href="{% url 'show_all_profiles' %}">Home</a></li>
          {% if request.user.is_authenticated %}
            {% if profile and profile.user == request.user %}
              <li>
                <a href="{% url 'create_post' %}">Create Post</a>
              </li>
            {% endif %}
          {% endif %}
        </ul>

        <!-- auth-debug -->
        <!-- <p>
          {% if request.user.is_authenticated %}
            Active user: {{ request.user }}
          {% else %}
            Not authenticated.
          {% endif %}
        </p> -->
      </nav>
    </header>

    <!--Main-->
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <!--Footer -->
    <footer>
      <nav>
        <ul>
          <li>
            {% if request.user.is_authenticated and profile and profile.user == request.user %}
              <a href="{% url 'show_feed' %}">Feed</a>
            {% else %}
              <a href="{% url 'show_all_profiles' %}">Home</a>
            {% endif %}
          </li>
          <li>
            {% if request.user.is_authenticated and profile and profile.user == request.user %}
              <a href="{% url 'search' %}">Search</a>
            {% elif not request.user.is_authenticated %}
              <a href="{% url 'create_profile' %}">Create Profile</a>
              <a href="{% url 'login' %}">Log in</a>
            {% endif %}
          </li>
          <li>
            {% if request.user.is_authenticated %}

              <a href="{% url 'my_profile' %}">Profile</a>
              <span>Logged in: {{ request.user.username }}</span>
            
              <!-- Sign out button -->
              <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Log out</button>
              </form>

            {% endif %}
          </li>
        </ul>
      </nav>
      <p>&copy; Jerry Teixeira, <a href="mailto:jerrybt@bu.edu">jerrybt@bu.edu</a></p>
    </footer>
  </body>
</html>
