<!-- File: mini_insta/templates/mini_insta/base.html -->
<!-- Author: Jerry Teixeira jerrybt@bu.edu, 02/12/2026 -->
<!-- Discription: Base template for the mini_insta app -->

{% load static %}
<html>
  <head>
    <title>Mini Insta</title>
    <link rel="stylesheet" href="{% static 'instapv.css' %}">
  </head>
  <body>
    <header>
      <h1><span class="logo-word">Mini Insta</span></h1>
      
      <!-- The navigation link for going to home screen and creating a post if in the profile page-->
      <!-- The other navigation such as feed/profile/search are on the footer
       I didn't replace this Home with the feed so I could navigate to the show_all_profile page.-->
      <nav>
        <ul>
          <li><a href="{% url 'show_all_profiles' %}">Home</a></li>
          <li>
            {% if profile %}
              <a href="{% url 'create_post' profile.pk %}">Create Post</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>

    <!--Main-->
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <!--Footer -->
    <footer>
      <nav>
        <ul>
          <li>
            {% if profile %}
              <a href="{% url 'show_feed' profile.pk %}">Feed</a>
            {% else %}
              <a href="{% url 'show_all_profiles' %}">Home</a>
            {% endif %}
          </li>
          <li>
            {% if profile %}
              <a href="{% url 'show_profile' profile.pk %}">Profile</a>
            {% endif %}
          </li>
          <li>
            {% if profile %}
              <a href="{% url 'search' profile.pk %}">Search</a>
            {% endif %}
          </li>
        </ul>
      </nav>
      <p>&copy; Jerry Teixeira, <a href="mailto:jerrybt@bu.edu">jerrybt@bu.edu</a></p>
    </footer>
  </body>
</html>
