<!-- File: mini_insta/templates/mini_insta/base.html -->
<!-- Author: Jerry Teixeira jerrybt@bu.edu, 02/12/2026 -->
<!-- Discription: Base template for the mini_insta app -->

{% load static %}
<html>
  <head>
    <title>Mini Insta</title>
    <link rel="stylesheet" href="{% static 'instapv.css' %}">
  </head>
  <body>
    <header>
      <h1>Mini Insta</h1>
      
      <nav>
        <ul>
          <li><a href="{% url 'show_all_profiles' %}">Home</a></li>
          <li>
            {% if profile %}
              <a href="{% url 'create_post' profile.pk %}">Create Post</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>


      {% block content %}
      {% endblock %}


    <footer>
      <hr>
      <p><a href="{% url 'show_all_profiles' %}">Home</a></p>
      <p>&copy; Jerry Teixeira, jerrybt@bu.edu</p>
    </footer>
 
    </body>
</html>